<mat-grid-list cols="3" rowHeight="2:1">
    <mat-grid-tile/>
    <mat-grid-tile/>
    <mat-grid-tile/>
    <mat-grid-tile/>
    <mat-grid-tile class="flex-center" style="flex-direction: column;">

        <h1 class="flex">On/Off Control</h1>
        <button class="flex" mat-raised-button color="primary" (click)="isOn ? off() : on()">
            {{ isOn ? 'Apagar foco' : 'Encender foco' }}
            @if (isOn) {
                <mat-icon>dark_mode</mat-icon>
            }
            @else {
                <mat-icon>light_mode</mat-icon>
            }
        </button>
        <p class="flex" >
            Estado del foco: 
            <mat-icon>
                {{ isOn ? 'lightbulb' : 'lightbulb_outline' }}
                {{ isOn ? 'Encendido' : 'Apagado' }}
            </mat-icon>
        </p>

    </mat-grid-tile>
    <mat-grid-tile/>
    <mat-grid-tile/>
    <mat-grid-tile/>
    <mat-grid-tile/>
</mat-grid-list>
  