<p>
    <mat-toolbar color="primary">
        <span class="sp-right">
            INHLR Monitor
        </span>
       <span class="toolbar-spacer"></span>
        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openEmailDialog(emailView)">
                <mat-icon fontIcon="group"/>
                <span>Gestionar contactos de confianza</span>
            </button>
            <button mat-menu-item (click)="openSettingsDialog(settingsView)">
                <mat-icon fontIcon="settings"/>
                <span>Configuración</span>
            </button>
            
        </mat-menu>
    </mat-toolbar>
</p>

<div
    class="container"
    [class.flex-center]="isSyncing"
>

    @if (isSyncing) {
    
        <div class="flex-center col appear">
            <mat-progress-spinner
                class="flex sp-bottom"
                mode="indeterminate"
            />
            <p class="flex">
                Obteniendo datos de tu
                <span class="inhlr">&nbsp;INHLR</span>...
            </p>
        </div>
    
    }
    @else {

        <div class="outlined col sp-bottom">

            <div class="row flex-center">
                <button
                    class="flex sp-right"
                    mat-mini-fab
                    (click)="updateShots(-5)"
                    matBadge="5"
                    [disabled]="inhalerShots! < 5 || isUpdatingShots"
                >
                    <mat-icon>remove</mat-icon>
                </button>
                <button
                    class="flex sp-right"
                    mat-mini-fab
                    (click)="updateShots(-1)"
                    matBadge="1"
                    [disabled]="inhalerShots! <= 0 || isUpdatingShots"
                >
                    <mat-icon>remove</mat-icon>
                </button>
    
                <button
                    class="sp-right flex"
                    style="height: auto;"
                    mat-raised-button
                    (click)="onlyUpdateShotsInParticle()"
                    [disabled]="isUpdatingShots"
                >
                    <div class="center-container sp-top">
                        <h4>
                        {{ inhalerShots }}
                        </h4>
                        <p>
                            disparos restantes
                        </p>
                        <p class="hint-small">
                            Toca para sincronizar tu &nbsp;<span class="inhlr">INHLR</span>
                        </p>
                    </div>
                </button>
    
                <button
                    class="flex sp-right"
                    mat-mini-fab
                    (click)="updateShots(1)"
                    matBadge="1"
                    [disabled]="isUpdatingShots"
                >
                    <mat-icon>add</mat-icon>
                </button>
                <button
                    class="flex"
                    mat-mini-fab
                    (click)="updateShots(5)"
                    matBadge="5"
                    [disabled]="isUpdatingShots"
                >
                    <mat-icon>add</mat-icon>
                </button>
            </div>


            @if (isUpdatingShots) {
                <mat-progress-bar class="appear flex sp-top" mode="indeterminate"/>
            }

        </div>

        <p>
            smoke: {{smokeValue}}
        </p>
        <p>
            dust: {{dustValue}}
        </p>

    }

</div>

<ng-template #emailView>

    <h1 mat-dialog-title>Contactos guardados</h1>

    <mat-divider/>

    <div mat-dialog-content>

        @if (isLoadingContacts || isUpdatingContacts) {
            <mat-progress-bar class="appear dialog" mode="indeterminate"/>
        }
        @else if (!wasAbleToFetchContacts) {
            <div class="center-container appear">
                <h1>Hubo un error al cargar tus contactos 😢</h1>
                <p>Por favor asegúrate de que tu <span class="inhlr">INHLR</span> esté encendido</p>
            </div>
        }
        @else {

            @if (contactsFormArray.length === 0) {
                <p class="appear">
                    ¡No tienes contactos guardados aún! 😯
                </p>
                <p class="hint appear">
                    Agrega hasta 5 contactos de confianza para que puedan
                    ser notificados en caso de emergencia
                </p>
            }

            <form [formGroup]="fg" class="appear col">
                @for (contact of contactsFormArray.controls; track contact){
                    <div formArrayName="contacts" class="row appear">
                        <mat-form-field class="flex">
                            <mat-label>Contacto #{{ $index + 1 }}</mat-label>
                            <input
                                matInput
                                formControlName="{{$index}}"
                                type="email"
                            />
                            @if (contact.hasError('email')) {
                                <mat-error>
                                    Por favor ingresa un correo válido
                                </mat-error>
                            }
                            @else if (contact.hasError('required')) {
                                <mat-error>
                                    Este campo es requerido
                                </mat-error>
                            }
                        </mat-form-field>
                        <button
                            class="flex"
                            mat-icon-button
                            color="warn"
                            (click)="removeContact($index)"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                }
            </form>

            @if (contactsFormArray.length < 5) {
                <button
                    mat-raised-button
                    color="primary"
                    (click)="addContact()"
                >
                    <mat-icon>add</mat-icon>
                    <span>Agregar contacto</span>
                </button>
            }

        }

    </div>

    <mat-divider/>

    <div mat-dialog-actions>
        <button
            mat-button
            mat-dialog-close
            [disabled]="isUpdatingContacts"
        >
            Volver
        </button>
        <button
            color="accent"
            mat-flat-button
            (click)="saveContacts()"
            [disabled]="isLoadingContacts || isUpdatingContacts || fg.pristine || fg.invalid"
        >
            Actualizar
        </button>
    </div>

</ng-template>

<ng-template #settingsView>

    <h1 mat-dialog-title>Configuración</h1>
    
    <mat-divider/>

    <div mat-dialog-content>
        <p>
            Intervalo de actualización (ms)
        </p>
        <mat-slider
            class="toolbar-spacer sp-right"
            [min]="5000"
            [max]="10000"
            [step]="500"
            [discrete]="true"
            [showTickMarks]="true"
            color="accent"
        >
            <input
                style="width: 100%;"
                matSliderThumb
                [(ngModel)]="updateInterval" #slider
                (change)="saveInterval(slider.value)"
            >
        </mat-slider>
    </div>

    <mat-divider/>

    <div mat-dialog-actions>
        <button
            mat-button
            mat-dialog-close
        >
            Volver
        </button>
    </div>

</ng-template>
