.container {

    --toolbar-height: var(--mat-toolbar-standard-height);

    height: calc(100% - var(--toolbar-height) - 12px);

    @media (max-width: 599px) {
        --toolbar-height: var(--mat-toolbar-mobile-height);
    }
}

.center-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    text-align: center;
}

.inhlr {
    font-weight: bold;
    color: var(--primary-color);
}

mat-progress-bar {
    margin-top: 10vh;
    margin-bottom: 10vh;
}
