/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;

@font-face {
    font-family: 'Raleway';
    src: url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
}

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$custom-typography: mat.define-typography-config(
    $font-family: 'Raleway',
);

* {
    font-family: 'Raleway', sans-serif;
}

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 ),
 typography: $custom-typography,
 density: 0,
));

@include mat.core();
@include mat.all-component-themes($my-theme);

html, body { height: 100%; }
body { margin: 0; }
body,
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Raleway', sans-serif;
}

.sp {
    margin: 1rem;
}

.sp-top {
    margin-top: 1rem;
}

.sp-bottom {
    margin-bottom: 1rem;
}

.sp-left {
    margin-left: 1rem;
}

.sp-right {
    margin-right: 1rem;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
    color: #fff;
}
