/* You can add global styles to this file, and also import other style files */

@use '@angular/material' as mat;
@use 'sass:map';

@font-face {
    font-family: 'Manrope';
    src: url('assets/Manrope-VariableFont_wght.ttf');
}

$my-primary: mat.define-palette(mat.$green-palette, A200);
$my-accent: mat.define-palette(mat.$yellow-palette, 300);
$my-warn: mat.define-palette(mat.$pink-palette, 500);
$custom-typography: mat.define-typography-config($font-family: 'Manrope');

* {
    font-family: 'Manrope', sans-serif;
}

$my-theme: mat.define-dark-theme((
    color: (
        primary: $my-primary,
        accent: $my-accent,
        warn: $my-warn,
    ),
    typography: $custom-typography,
    density: 0,
));

@include mat.core();
@include mat.all-component-themes($my-theme);


:root {
    --primary-color: #{mat.get-color-from-palette($my-primary, A200)};
    --accent-color: #{mat.get-color-from-palette($my-accent, 300)};
    --warn-color: #{mat.get-color-from-palette($my-warn, 500)};
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Manrope', sans-serif;
}

.flex {
    display: flex;

    &-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.sp {
    margin: 1rem;
}

.sp-top {
    margin-top: 1rem;
}

.sp-bottom {
    margin-bottom: 1rem;
}

.sp-left {
    margin-left: 1rem;
}

.sp-right {
    margin-right: 1rem;
}

.glass {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    padding: 20px;
    color: #fff;
}

.toolbar-spacer {
    flex: 1 1 auto;
}

.mat-mdc-dialog-actions {
    justify-content: center !important;
}

.appear {
    transition: opacity 0.5s;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hint {
    opacity: 0.5;
}
